version: "3"
services: 
    jaeger-collector:
        image: jaegertracing/jaeger-collector
        command: ["--cassandra.keyspace=jaeger_v1_dc1", "--cassandra.servers=cassandra", "--collector.zipkin.http-port=9411"]
        ports:
          - "14269"
          - "14268:14268"
          - "14250"
          - "9411:9411"
        restart: on-failure
        depends_on:
          - cassandra-schema
        environment: 
            CASSANDRA_SERVERS: cassandra
  
    jaeger-query:
        image: jaegertracing/jaeger-query
        command: ["--cassandra.keyspace=jaeger_v1_dc1", "--cassandra.servers=cassandra"]
        ports:
            - "16686:16686"
            - "16687"
        restart: on-failure
        depends_on:
            - cassandra-schema
        environment: 
            CASSANDRA_SERVERS: cassandra

    jaeger-agent:
        image: jaegertracing/jaeger-agent
        command: ["--reporter.grpc.host-port=jaeger-collector:14250"]
        ports:
            - "5775:5775/udp"
            - "6831:6831/udp"
            - "6832:6832/udp"
            - "5778:5778"
        restart: on-failure
        depends_on:
            - jaeger-collector

    cassandra:
        image: cassandra:3.9

    cassandra-schema:
        image: jaegertracing/jaeger-cassandra-schema
        depends_on:
            - cassandra

    hotrod:
        image: jaegertracing/example-hotrod:latest
        ports: 
            - "8081:8080"
        command: ["all"]
        environment:
            JAEGER_AGENT_HOST: jaeger-agent
            JAEGER_AGENT_PORT: 6831
        depends_on:
            - jaeger-agent

    demo:
        image: openjdk:15-jdk-alpine
        ports:
            - "8082:8080"
        volumes:
            - "./applications/demo/target:/httpd:rw"
        environment: 
            JAEGER_HOST: jaeger-agent
            JAEGER_PORT: 6831
        entrypoint: ["java","-Djava.security.egd=file:/dev/./urandom","-jar","httpd/demo-0.0.1-SNAPSHOT.jar"]
        depends_on: 
            - jaeger-agent